<div class="row">  
  <% if notice.present? %>
    <a href="#" class="alert alert-info close" data-dismiss="alert" aria-label="close"><%= notice %> &times; </a>
  <% end %>
  <% if alert.present? %>
    <a href="#" class="alert alert-info close" data-dismiss="alert" aria-label="close"><%= notice %> &times; </a>
  <% end %>
</div>  