<div class="col-xs-6 col-xs-offset-3">  
  <% if notice.present? %>
    <p class="alert alert-info close" data-dismiss="alert" aria-label="close"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger close" data-dismiss="alert" aria-label="close"><%= alert %></p>
  <% end %>
</div>  