    <div class="modal fade" id="attributionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel">Attributions</h4>
          </div>
          <div class="modal-body">
            <h4>Photos</h4>
            <br />
            <p>Photos on landing page used under license from Fotolia.</p>
            <p>sky,mountains and landscape of Guilin &copy; zhu difeng</p>
            <p>Vernazza in Cinque Terre, Liguria, Italy, on sunset &copy; Boris Stroujko</p>
            <p>Venice in the evening &copy; Givaga</p>
            <p>Pura Ulun Danu Bratan at Bali, Indonesia &copy; zephyr_p</p>
            <p>Silhouette di giraffe &copy; apinz</p>
            <p>Romantischer Sonnenuntergang in der Südsee &copy; eyetronic</p>
            <p>Kilchurn castle,Scotland &copy; petr112</p>
            <p>Panorama of Teotihuacan Pyramids &copy; f9photos</p>
            <h4>Icons</h4>
            <br />
            <p>bucket, pencil, search, trash &copy;Sergei Kokota, CC by 2.5</p>
            <p>star icons &copy;Custom Icon Design, free for non-commercial use</p>
            <p>bucket delete &copy;Pawel Kadysz, free for non-commercial use</p>
            <p>check &copy;Nick Roach, GPL</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>