<div class="container-fluid" >
  
  <div class="jumbotron" >
  </div>  
   
   <h2 id="info-header">Create your own bucket list of dream places. Share it with others.</h2>
  
  <div class="row slideshow">
    <%= image_tag 'apinz.jpg' %>
  </div>
  
</div>  