<div class="container-fluid landing-page">
  <div class="jumbotron">
    <h1 id="my-brand">Dream Places</h1>
  </div>  
  <br />
  <br />
  <h3 id="info-header">What is on your bucket list?</h3>
  <br />
  <br />
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag 'stroujko-s.jpg' %>
    </div>  
    <div class="col-xs-4">
      <%= image_tag 'givaga-s.jpg' %>
    </div> 
    <div class="col-xs-4">
      <%= image_tag 'zephyr_p-s.jpg' %>
    </div> 
  </div>  
  <div class="row slideshow">
    <%= image_tag 'apinz.jpg' %>
  </div>
  <section class="container">
    <footer class="block">
      <div class="col-xs-4">
        <p>Attribution</p>
      </div>  
    </footer>
  </section>
</div>  