<div class="container main">
  <div class="col-xs-10 col-xs-offset-1">
    <p>Hello <%= @user.username %></p>
    <p>You can search for a place or browse for new places (link) and add them to your bucket list. If your place doesn't exist, you can create one.</p>

    <div class="booyah-box">
      <% if @user.public_profile? %>
        <p>Your profile is public</p>
      <% else %>
        <p>Your profile is private</p>
      <% end %>

      <h3>Change profile privacy settings</h3>
      <br />
      <%= simple_form_for @user do |f| %>
        <%= f.collection_radio_buttons :public_profile, [[true, 'Public'] ,[false, 'Private']], :first, :last %>
        <br />
        <br />
        <%= f.button :submit %>
      <% end %>
    </div>  
  </div>
</div>  

  