
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  /* Helvetica/Arial-based sans serif stack */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Subtle Patterns, Pink Rice by http://www.excogitoweb.it/ */
  /* background: url('/assets/pink_rice.png'); */
  //background-color: #FAF9F4;
  background-color: rgba(253,249,234,0.92);
  color: #3c2639;
}

.navbar-default .navbar-brand {
  //color: #5C5858;
  font-family: 'sinkin_sans500_medium';
  font-size:22px;
}

.navbar {
  background: rgba(0, 0, 0, 0.1);
  //background-color: rgba(253,249,234,0.7);

}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.jumbotron {
    background-image: url(zhu_difeng.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0;
}

.slideshow {
  img {
    width: 700px;
    display: block;
    margin: 50px auto;
  }
}

#info-header {
  text-align: center;
  margin: 50px 0;
}

.navbar-nav > li > a {
  padding-top:5px !important; padding-bottom:5px !important;
}

.navbar-brand {
  color: #3c2639;
  font-size: 24px;
}

.menu-items {
  padding-right: 15px;
}

.menu-items a {
  color: #3c2639;
  font-size: 18px;
}

.search-box {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  margin-left: 50px;
}

.user-forms {
  margin-top: 200px;
}

.main {
  margin-top: 120px;
}