/* global */

body {
  font-family: 'montserratregular','sinkin_sans500_medium',"Proxima Nova","Open Sans",sans-serif;
  background-color: #FAF9F4;
  background-color: rgba(253,249,234,0.92);
  color: #3c2639;
}

a {
  color: #6b4466;
  color: #886984;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.clear {
  clear: both;
}

.main {
  margin-top: 100px;
}

/* buttons */


.button-normal {
  background-color: #FAF9F4;
  background-color: rgba(253,249,234,0.92);
  color: #3c2639;
  margin: 0 10px;
}

.button-normal:hover {
  background-color: #E0D6A5;
}

.button-opposite {
  color: #FAF9F4;
  background-color: #3c2639;
  margin: 0 10px;
}

.button-opposite:hover {
  color: #FAF9F4;
  background-color: #8a5884;
}

.button-opposite:focus {
  color: #FAF9F4;
  background-color: #8a5884;
}

/* messages */

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.close {
 float: none;
 margin: 0 auto;
 opacity: 0.4;
 filter: alpha(opacity=40);
}


/* navbar */

.navbar {
  background: #FAF9F4;
  background: rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-brand {
  //color: #5C5858;
  font-family: 'sinkin_sans500_medium',"Proxima Nova","Open Sans",sans-serif;
  font-size:22px;
}


.navbar-nav > li > a {
  padding-top:5px !important; padding-bottom:5px !important;
}

#navbar-brand {
  color: #3c2639;
  font-size: 18px;
  font-family: 'kaushan_scriptregular',"Proxima Nova","Open Sans",sans-serif;
}

#my-brand {
  margin-top: 130px;
  font-family: 'kaushan_scriptregular',"Proxima Nova","Open Sans",sans-serif;
  color: #FAF9F4;
  color: rgba(253,249,234,0.92);
}

.menu-items {
  padding-right: 15px;
}

#menu-items a {
  color: #3c2639;
  font-size: 16px;
}

.search-box {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  margin-left: 50px;
}

/* sticky footer http://timothylong.com/responsive-sticky-footer/*/

html,
body {
  height: 100%;
}

.footer-container {
  display: table;
  height: 100%;
  width: 100%;
  padding: 100px 0;
  background: #3c2639;
}

.block {
  display: table-row;
  height: 1px;
}

.block p {
  color: #FAF9F4;
  color: rgba(253,249,234,0.92);
}

.block p a {
  color: #FAF9F4;
  color: rgba(253,249,234,0.92);
}

.push {
  height: auto;
}

.block:nth-child(odd) {
  background: #3c2639;
}

/* footer content */

#attributionModal {
  text-align: left;
  font-family: 'sinkin_sans500_medium',"Proxima Nova","Open Sans",sans-serif;
}

#attributionModal p {
  font-size: 12px;
}

/* landing page statics index */

.jumbotron {
  background-image: url(zhu_difeng.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0;
}

.slideshow {
  img {
    width: 600px;
    display: block;
    margin: 100px auto;
  }
}

.landing-page {
  text-align: center;
}

.info {
  margin-top: 130px;
}

/* forms */

.user-forms {
  margin-top: 100px;
}

.collection_radio_buttons {
  padding: 0 5px;
}

/* places show */

.place-photos {
  margin-top: 50px;
  //background: blue;
  padding: 30px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
}

.carousel-inner > .item > a > img:hover {
  border:10px solid #d9cd92;
}

/* gallery */

.photo-caption {
  padding-top: 5px;
}


/* responsive */
@media (max-width: 600px) {
  .search-box {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  .search-button {
    width: 50px;
    font-size: 12px;
    padding: 2px;
  }
}