<div class="container main">
  <h3>Search Results</h3>
  <br />
  <h4>Didn't find what you were looking for?</h4> 
  <br />
    <!-- Place Create Modal -->
     <%= render partial: "places/form_create" %>

    <!-- Button trigger modal -->
    <button class="btn button-opposite pull-left" data-toggle="modal" data-target="#placeModal">
      Add a place
    </button>

  <div class="clear"></div>
  <br />
  <br />
  <br />
  <% @results.each do |result| %>
    <h4><%= result.name %></h4>
    <p><%= result.address %></p>
    <br />
  <% end %>
</div>


